- @title = "About me"
:markdown
  ### The Author

  My name is Navin. I usually live in Sydney, Australia.

  I’m a freelance Rails developer and I'm working towards getting paid to also write in a functional
  programming language while analysing data.

  I’m also a retreaded mathematician, data curioso, functional programming enthusiast and
  erstwhile information security bod.

  I studied Computer Science when Z-80s and 6502s were the microprocessors
  of the day and the university lab splurged on a bunch of [NeXT
  workstations](http://en.wikipedia.org/wiki/History_of_Mac_OS_X). My
  Operating Systems class involved group readings of the Unix kernel
  source. Some mathematicians on campus were nice to me once and 10 years
  later I found myself with a PhD in pure mathematics and a couple of
  publications to my name.

  I have been around the block a few times, and lived a few very
  different lives. These include:

  * C Programmer
  * Research mathematician and teacher
  * PKI, Identity and Trust afficionado
  * Information security architect and consultant
  * Manager at a consulting firm and at a financial institution

  If there's one thing that's been a constant, it's that I like to learn - really a lot.

  ### The Site

  I write here. Topics include information and opinion relevant to my
  adventures as a technologist.

  This site is hosted on [GitHub](http://github.com) using their
  [Pages](http://github.com/blog/272-github-pages) feature.

  It is created using the static site generator [middleman](http://middlemanapp.com), using my
  [middleman-twitter-bootstrap](http://github.com/novemberkilo/middleman-twitter-bootstrap)
  extension.


  ### License

  All original textual content is licensed under the [Creative Commons Attribution 3.0 Unported License](http://creativecommons.org/licenses/by/3.0/)

  ### Contact

  Feel free to get in touch. My email address is navin at novemberkilo.com
