%section
  %h2 Recent Articles
  %ul.unstyled.embiggened
    - blog.articles[0...12].each do |article|
      %li
        = link_to article.title, article.url
        %time.pull-right= article.date.strftime('%e %b %Y')
