- @title = "Navin Keswani"
:markdown
  # Navin Keswani
  ### I am a programmer in Sydney, Australia. Here is a little more about me.

  ###### SKILLS

  Expert in web development using Ruby on Rails. I am skilled in several technologies
  including Ruby (on and off Rails), MySQL, Postgres, Rspec, Cucumber, Git, Ember, Javascript, Coffeescript,
  Haml, CSS (mainly Sass). I also have a working knowledge of R, Scala and Python.
  I used to be a research mathematician so have excellent analytical skills.
  I also have excellent written and verbal communication skills.

  ###### EDUCATION

  #### University of Maryland at College Park

  _PhD, Mathematics \[ 1997 \]_

  I received a doctorate in pure mathematics following coursework across several areas of mathematics and research
  in the areas of Operator Algebras and K-theory.
  My thesis and subsequent research resulted in several publications - see [this Google Scholar search](http://scholar.google.fr/scholar?q=Navin+Keswani&btnG=&hl=en&as_sdt=0%2C5) for more details.

  #### University of New South Wales

  _BSc(Hon), Mathematics and Computer Science \[ 1990 \]_

  I completed a Bachelor of Science degree majoring in Computer Science and Mathematics, receiving Honours, First Class in Mathematics.

  ###### EXPERIENCE

  #### Blake Education

  _Web Developer \[ 2010 - 2013 \]_

  Blake Education has over 20 years of experience in publishing for the education sector. They also provide educational web and mobile apps including
  readingeggs, reading-eggspress and mathseeds. Their markets span Australia, New Zealand, South Africa, the United Kingdom and the USA.

  During my tenure at Blake Education I worked on several projects including:

  - Rewrite of the Teacher/School component of the main readingeggs app
  - Implementation of a REST API used by our business partner
  - Feature development and maintenance of the primary and supporting apps that are part of the readingeggs ecosystem

  Some of the main technologies and tools that I developed proficiency in during this role include:

  - Ruby, on and off Rails
  - Rails (3 and 4)
  - Grape (for building APIs)
  - Rspec, Cucumber and technologies supporting Test Driven Development
  - Git
  - Ember
  - Javascript and Coffeescript
  - Haml
  - CSS (mainly Sass) - I have extensive experience with Twitter Bootstrap
  - Dev operations including deployment

  I also played a strong role in supporting our business partners and introducing business analysis and product management related processes. Additionally, I wrote adhoc R scripts to analyse user behaviour.

  #### _Between 1999 and 2010_

  During this time I worked primarily in the Information Security industry. I began on the professional services team of a provider of cryptographic software, _Baltimore Technologies_ and my career
  included working as a Senior Manager for the IT Advisory group of _KPMG_ and as the Security and IT Risk Manager for an Australian financial services institution. More details
  are available from [my LinkedIn profile.](http://fr.linkedin.com/in/novemberkilo)

  ###### COMMUNITY PARTICIPATION, PRESENTATIONS

  My contributions to open source projects include:

  - [Discourse](https://github.com/discourse/discourse/commits?author=novemberkilo) - code refactoring and features
  - Fog and Rack::Attack - documentation

  I am the author of the following projects:

  - [Middleman-twitter-bootstrap](https://github.com/novemberkilo/middleman-twitter-bootstrap) - a starting point for a blog using middleman and twitter bootstrap
  - [Polar curve grapher](https://github.com/novemberkilo/polar-curve-grapher) - experimental polar curve grapher using d3.js
  - [tdop_math](https://github.com/novemberkilo/tdop_math) - a Top Down Operator Precedence parser for mathematical expressions

  I volunteered as the Speaker Liaison and Content Editor for the Ruby Conference _Rulu_ held in Lyon, France, in 2013.

  I have given several presentations at the Ruby meetups in Sydney and Lyon. These include:

  - A Flickr notifier app, _Ruby or Rails Oceania, Sydney, May 2010._
  - A polar curve grapher, _Ruby or Rails Oceania, Sydney, Oct 2011._
  - A Top Down Operator Precedence parser for algebraic expressions, _Ruby or Rails Oceania, Sydney, Oct 2011._
  - Building RESTful APIs with Grape, _Lyon.rb, Lyon, Jan 2013._
  - Tracking and throttling requests with Rack::Attack, _Lyon.rb, Lyon, July 2013._

  ###### MOOCS

  These are the Coursera courses I have taken:

  - Data Analysis, Grade: 83%, _Johns Hopkins Univeristy, Jan 2013._
  - Functional Programming Principles in Scala, Grade: 100%, _École Polytechnique Fédérale de Lausanne, Mar 2013._

